*, *::after, *::before {
  box-sizing: border-box;
}
body {
  background-color: $bgc;
  font-family: 'Arial', 'sans-serif';
  margin: 0;
  color: $secondary-color;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 1em;
}
.container-grid {
  display: grid;
  grid-gap: 10px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
}